<div id="wrapper">

  <div id="left">
    <h1>
      Storymaker
      <div class="btn" (click)="reset()">Reset</div>
    </h1>
    <h2>
      Type in a question that can be answered with <span class="yes">Yes</span> or <span class="no">No</span>.
      Work together with Storymaker to create a story together.
      Let your mind run free and type in the first thing that comes to mind.
    </h2>
    <input
      type="text"
      #input
      (keyup.enter)="addSection(input.value)"
      placeholder="ENTER to submit"
    >
  </div>

  <div id="right" #right>
    <story-section
    *ngFor="let section of story"
    [section]="section"
    ></story-section>
    <div id="cleaned-story">
      <div
        *ngIf="!storyIsFinished && story.length >= 8"
        (click)="finishStory()"
        class="btn"
      >
        Wrap up the Story
      </div>
      <div *ngIf="storyIsFinished">
        <span *ngFor="let section of cleanedStory()">
          {{section.question}}
        </span>
      </div>
    </div>
  </div>

</div>
