<div id="wrapper">

  <div id="left">
    <h1>
      Storymaker
      <div id="reset" (click)="storyManagerService.clearStory()">Reset</div>
    </h1>
    <h2>
      Type in a question that can be answered with Yes or No.
      Storymaker answers pseudo-randomly to help you "give birth" to the story in your mind.
      Let loose and type in the first thing that comes to your mind.
    </h2>
    <input
      type="text"
      #input
      (keyup.enter)="addSection(input.value)"
    >
  </div>

  <div id="right">
    <story-section
      *ngFor="let section of story"
      [section]="section"
    ></story-section>
  </div>

</div>
